@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Healthtrackr</h1>

<form method="post">
    <table class="table">
        <thead>
            <th>Date</th>
            <th>BMI</th>
            <th>Fat %</th>
            <th>Source</th>
            <th>Time</th>
            <th>Weight</th>
        </thead>
        <tbody>
            @if (Model.WeightList != null)
            {
                foreach (var log in Model.WeightList)
                {
                    <tr>
                        <th><a asp-page="./Edit" asp-route-id="@log.WeightId">@log.MeasurementDate.ToString("dd-MM-yyyy")</a></th>
                        <th>@log.BMI</th>
                        <th>@log.Fat</th>
                        <th>@log.MeasurementSource</th>
                        <th>@log.Time</th>
                        <th>@log.WeightInKG</th>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>